<% include partials/header %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RESTAURANT</title>
</head>
<body>
    <h1>MAIN</h1>

    <a href="/foods">FOODS</a>
    <hr>
    <a href="/foods/new">ADD NEW FOODS</a>
    <hr>


    
    
</body>
</html>


<% include partials/footer %>